$font-varela: "Varela Round", arial, sans-serif;
$font-arial: arial, sans-serif;
$font-color-white:#ffffff;
$red-background:#e74c3c;
$color-text: #909090;
$color-decor-line: #3db39e;
$color-font: #385461;
$color-bkg: #f6f6f6;